html {
	font-family: Helvetica, Tahoma, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body
{
	margin: 0;
	padding: 0;
	min-width: 960px;
	min-height: 100%;
	position: relative;
	background-color: #eee;
}
div
{
	display: block;
}
table
{
	border-spacing: 0;
	border-collapse: collapse;
}



.tacenter
{
	text-align: center;
}
.taleft
{
	text-align: left;
}
.taright
{
	text-align: right;
}
.disblock
{
	display: block;
}
.disnone
{
	display: none;
}